.aboutme
  background-image: url(../img/slider.png)
  padding: 6%
  color: white

.small
  width: 60px
  height: 60px
  border-radius: 30px
  margin-left: 60%
  margin-top: 3%
  display: inline-block

.oneliner, .about
  margin-left: 60%

.name, .position
  display: inline-block
  margin-left: 1%

.oneliner
  margin-top: 1%
  font-size: 105%
