.header
  background-image: url(../img/bg2.jpg)
  background-position: right top
  background-size: cover
  height: 70vh
  color: white

#overlay
  background-color: rgba(0, 0, 0, 0.5)
  height: 100%

.ueberschrift, .fatone, .maintext
  margin-left: 20%

.buttonhead1
  margin-top: 1%
  background-color: #0067A9
  padding: 1%
  color: white
  font-weight: bold
  border-radius: 10px
  margin-left: 20%

.buttonhead2
  background-color: #027E2F
  padding: 1%
  color: white
  font-weight: bold
  border-radius: 10px
  margin-left: 3%

.ueberschrift
  padding-top: 0.5%
  overflow: hidden

.contact
  margin-left: 5%
  margin-top: 0.5%
  border-radius: 10px
  background-color: rgba(0, 44, 71, 0.3)
  position: fixed
  font-size: 60%
  padding: 10px


.fatone
  margin-top: 10%

.maintext
  width: 30%
  font-weight: 100


.navigation
  text-align: right
  margin-right: 20%

li
  display: inline
  padding: 2%

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  padding: 0
